@tailwind base;
@tailwind components;
@tailwind utilities;

.greenbutton {
  background-color: rgb(74 222 128); /* Example color for enabled state */
  border: 2px solid #000; /* Example border for enabled state */
}

.greenbutton:disabled {
  background-color: rgb(229 231 235); /* Example color for disabled state */
  border: 2px solid #718096; /* Example border for disabled state */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"] {
  display: none;
}

.shadow-top {
  box-shadow: 0 -4px 4px -2px rgba(0, 0, 0, 0.1);
}